<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BHYT.Properties.Settings.SUNS_LB11ConnectionString"
            connectionString="Data Source=GAGA-PC\XUANQUYET;Initial Catalog=SUNS_LB11;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BHYT.Properties.Settings.SUNS_CDHAConnectionString"
            connectionString="Data Source=APPLE5460;Initial Catalog=SUNS_CDHA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>